.button {
  padding: 8px 50px 8px;
  border-radius: 27px;
  background-color: #0073bc;
  border-color: transparent;
  color: white;
  border: 5px #73b9e5;
  border-color: #73b9e5;
  border-style: solid;
  transition-duration: 0.6s;
}
.button:hover {
  background-color: transparent;
  color: #0073bc;
}
