.poke {
  position: absolute;
  width: 250px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0.8);
  transition: 1s;
}

.health {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #079325;
  transition: 1s;
}
.row {
  width: 97%;
  height: 19px;
  /* background-color: #62ff84; */
  /* border-radius: 10px; */
  /* border: 3px #079325; */
  /* border-style: solid; */
  margin-top: 2px;
}
.row1 {
  width: 97%;
  height: 19px;
  background-color: #62ff84;
  border-radius: 10px;
  border: 3px #079325;
  border-style: solid;
  margin-top: 2px;
}
.row2 {
  width: 97%;
  height: 19px;
  background-color: #ffcc00;
  border-radius: 10px;
  border: 3px #be9800;
  border-style: solid;
  margin-top: 2px;
}
.row3 {
  width: 97%;
  height: 19px;
  background-color: #ff3d3d;
  border-radius: 10px;
  border: 3px #a40000;
  border-style: solid;
  margin-top: 2px;
}
.name {
  /* margin-top: 10px; */
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  top: 10px;
  transition: 1s;
}
.photo {
  transform: scale(0.7);
  position: relative;
  bottom: 10px;
  transition: 1s;

  /* object-fit: cover; */
}
.photo1 {
  width: 250px;
  height: 220px;
  transition: 1s;
}
.status {
  position: relative;
  bottom: 20px;
  font-weight: 700;
  margin-right: auto;
  margin-bottom: 10px;
  transition: 1s;
}
.status-text {
  margin-left: 10px;
  transition: 1s;
}
.rectangle {
  display: flex;
  width: 88%;
  background-color: #fff7d6;
  border-style: solid;
  border-radius: 10px;
  border-color: #ffcc00;
  position: relative;
  bottom: 20px;
}
.rectangle-text {
  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: medium;
  transition: 1s;
}
